<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.scout.sdk.ws.jaxws.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.eclipse.scout.sdk.ui.extensions.preferences.ScoutSdkPreferencePage"
            class="org.eclipse.scout.sdk.ws.jaxws.preferences.JaxWsPreferencePage"
            id="org.eclipse.scout.sdk.ws.jaxws.preferences.JaxWsPreferencePage"
            name="JAX-WS">
      </page>
   </extension>
   <extension
      id="jaxws"
      name="problem"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker" />
   </extension>
   <extension
      id="urlPattern"
      name="urlPattern"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="targetNamespace"
      name="targetNamespace"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="service"
      name="service"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="port"
      name="port"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="porttype"
      name="porttype"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="stubFolder"
      name="stubFolder"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="stubJar"
      name="stubJar"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="implementation"
      name="implementation"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="package"
      name="package"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="wsdl"
      name="wsdl"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="bindingFile"
      name="bindingFile"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="missingBuildJaxWsEntry"
      name="missingBuildJaxWsEntry"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="serviceType"
      name="serviceType"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension
      id="handlerClazz"
      name="handlerClazz"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.scout.sdk.ws.jaxws.jaxws" />
   </extension>
   <extension point="org.eclipse.scout.sdk.ui.propertyViewPart">
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceProviderNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceProviderNodePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceProviderCodeFirstNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceProviderCodeFirstNodePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServicesTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServicesTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceProviderTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceProviderTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.ProviderTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.ProviderTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceConsumerTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceConsumerTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceConsumerNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceConsumerNodePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.WebServiceProviderHandlerNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.WebServiceProviderHandlerNodePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.HandlerTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.HandlerTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.HandlerNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.HandlerNodePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.SessionFactoryTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.SessionFactoryTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.CredentialValidationStrategyTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.CredentialValidationStrategyTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.AuthenticationHandlerTablePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.AuthenticationHandlerTablePagePropertyViewPart"/>
      </part>
      <part page="org.eclipse.scout.sdk.ws.jaxws.swt.view.pages.AuthenticationHandlerNodePage">
         <singlePart viewPart="org.eclipse.scout.sdk.ws.jaxws.swt.view.part.AuthenticationHandlerNodePagePropertyViewPart"/>
      </part>
   </extension>
   <extension point="org.eclipse.scout.sdk.ui.explorerPage">
      <pageFactory
         factory="org.eclipse.scout.sdk.ws.jaxws.ext.WebServicePageFactory"
         parentPageId="org.eclipse.scout.sdk.page.ServerNodePage">
      </pageFactory>
   </extension>
   <extension point="org.eclipse.scout.sdk.ui.contextMenu">
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.BindingFileNewAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.BuildPropertiesEditAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.ConsumerNewWizardAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.FileOpenAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.ProviderNewWizardAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.RefreshAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.RepairAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.StubRebuildAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.TypeOpenAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.WsConsumerDeleteAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.WsProviderDeleteAction"></contextMenu>
		<contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.WsProviderCodeFirstDeleteAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.JaxWsAliasChangeWizardAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.HandlerChainFilterEditAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.HandlerChainRemoveAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.HandlerChainNewAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.HandlerNewWizardAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.SessionFactoryNewAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.CredentialValidationStrategyNewAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.AuthenticationHandlerNewWizardAction"></contextMenu>
    <contextMenu class="org.eclipse.scout.sdk.ws.jaxws.swt.action.CleanupPhantomJarFileAction"></contextMenu>
   </extension>
</plugin>
