<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.scout.sdk.s2e.ui.internal.util.ScoutSdkStartupExtension"></startup>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            id="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            name="Scout">
      </page>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.ui.proposalCategory"
         name="Scout Items"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/eclipse_scout.gif">
      </proposalCategory>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="org.eclipse.scout.sdk.s2e.ui.menu" label="Scout">
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
               id="org.eclipse.scout.sdk.s2e.ui.menu.triggerAllTypeChangedHandlers"
               style="push">
            </command>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
               id="org.eclipse.scout.sdk.s2e.ui.menu.triggerSelectedTypeChangedHandlers"
               style="push">
            </command>
            <separator
               name="org.eclipse.scout.sdk.s2e.ui.menu.separator01"
               visible="true">
            </separator>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
               id="org.eclipse.scout.sdk.s2e.ui.menu.wellform"
               style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.scout.sdk.s2e"
            name="Scout"/>
      <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.newproject.ScoutProjectNewWizard"
            hasPages="true"
            icon="icons/eclipse_scout.gif"
            id="org.eclipse.scout.sdk.s2e.ui.newScoutProjectWizard"
            name="Scout Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.eclipse.scout.sdk.s2e.ui.internal.classid.ClassIdQuickAssistProcessor"
            id="org.eclipse.scout.sdk.s2e.ui.classIdGenerationProcessor"
            name="Generate Class Id"
            requiredSourceLevel="1.6">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.scout.sdk.s2e.ui.internal.classid.ClassIdDuplicateResolutionGenerator"
            markerType="org.eclipse.scout.sdk.classid.duplicate">
      </markerResolutionGenerator>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            name="Scout Tools"
            id="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </category>
      <command
            name="Update all derived resources..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Update derived resources in selected scope..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Wellform all Scout classes..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.TriggerAllDerivedResourceHandlers">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.TriggerSelectedDerivedResourceHandlers">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.WellformAllHandler">
      </handler>
   </extension>
</plugin>
