<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 BSI Business Systems Integration AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        BSI Business Systems Integration AG - initial API and implementation

-->
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.scout.sdk.s2e.ui.internal.util.ScoutSdkStartupExtension"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.scout.sdk.s2e.ui.internal.editor.jaxws.WebServiceEditor"
            icon="icons/wsdl.gif"
            extensions="jaxws"
            default="true"
            id="org.eclipse.scout.sdk.s2e.ui.jaxwsEditor"
            name="Scout Web Service Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            id="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            name="Scout">
      </page>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.s2e.ui.templateComputer.category"
         name="Eclipse Scout Templates"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/eclipse_scout.gif">
      </proposalCategory>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.s2e.ui.templateComputer"
         name="Eclipse Scout Templates"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.scout.sdk.s2e.ui.templateComputer.category"
            class="org.eclipse.scout.sdk.s2e.ui.internal.template.ScoutTemplateCompletionProposalComputer">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
      point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu id="org.eclipse.scout.sdk.s2e.ui.menu" label="Scout">
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
               id="org.eclipse.scout.sdk.s2e.ui.menu.triggerAllTypeChangedHandlers"
               tooltip="Updates all derived resources in the Workspace."
               style="push">
            </command>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
               id="org.eclipse.scout.sdk.s2e.ui.menu.triggerSelectedTypeChangedHandlers"
               tooltip="Updates the resources that are derived from a file in the selected scope."
               style="push">
            </command>
            <separator
               name="org.eclipse.scout.sdk.s2e.ui.menu.separator01"
               visible="true">
            </separator>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
               id="org.eclipse.scout.sdk.s2e.ui.menu.wellform"
               tooltip="Wellforms all Scout classes in the Workspace to conform to the default structure."
               style="push">
            </command>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellformSelected"
               id="org.eclipse.scout.sdk.s2e.ui.menu.wellformSelected"
               tooltip="Wellforms the Scout classes in the selected scope to conform to the default structure."
               style="push">
            </command>
            <separator
               name="org.eclipse.scout.sdk.s2e.ui.menu.separator02"
               visible="true">
            </separator>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.missingClassId"
               id="org.eclipse.scout.sdk.s2e.ui.menu.missingClassId"
               tooltip="Creates all @ClassId Annotations on classes in the Workspace that support the annotation but currently don't have one."
               style="push">
            </command>
            <command
               commandId="org.eclipse.scout.sdk.s2e.ui.commands.missingClassIdSelected"
               id="org.eclipse.scout.sdk.s2e.ui.menu.missingClassIdSelected"
               tooltip="Creates all @ClassId Annotations on classes in the selected scope that support the annotation but currently don't have one."
               style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.scout.sdk.s2e"
            name="Scout"/>
      <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.project.ScoutProjectNewWizard"
            hasPages="true"
            icon="icons/eclipse_scout.gif"
            id="org.eclipse.scout.sdk.s2e.ui.newScoutProjectWizard"
            name="Scout Project"
            project="true"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.code.CodeTypeNewWizard"
            hasPages="true"
            icon="icons/codeType_add.png"
            id="org.eclipse.scout.sdk.s2e.ui.newCodeTypeWizard"
            name="Scout CodeType"
            project="false"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.form.FormNewWizard"
            hasPages="true"
            icon="icons/form_add.png"
            id="org.eclipse.scout.sdk.s2e.ui.newFormWizard"
            name="Scout Form"
            project="false"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.page.PageNewWizard"
            hasPages="true"
            icon="icons/page_add.png"
            id="org.eclipse.scout.sdk.s2e.ui.newPageWizard"
            name="Scout Page"
            project="false"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.permission.PermissionNewWizard"
            hasPages="true"
            icon="icons/permission_add.png"
            id="org.eclipse.scout.sdk.s2e.ui.newPermissionWizard"
            name="Scout Permission"
            project="false"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.lookupcall.LookupCallNewWizard"
            hasPages="true"
            icon="icons/lookupCall_add.png"
            id="org.eclipse.scout.sdk.s2e.ui.newLookupCallWizard"
            name="Scout LookupCall"
            project="false"/>
     <wizard
            category="org.eclipse.scout.sdk.s2e"
            class="org.eclipse.scout.sdk.s2e.ui.internal.wizard.jaxws.WebServiceNewWizard"
            hasPages="true"
            icon="icons/webservice_add.gif"
            id="org.eclipse.scout.sdk.s2e.ui.newWebService"
            name="Scout Web Service"
            project="false"/>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.eclipse.scout.sdk.s2e.ui.internal.classid.ClassIdQuickAssistProcessor"
            id="org.eclipse.scout.sdk.s2e.ui.classIdGenerationProcessor"
            name="Generate Class Id"
            requiredSourceLevel="1.6">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.scout.sdk.s2e.ui.internal.classid.ClassIdDuplicateResolutionGenerator"
            markerType="org.eclipse.scout.sdk.classid.duplicate">
      </markerResolutionGenerator>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            name="Scout Tools"
            id="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </category>
      <command
            name="Update all derived resources..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Update derived resources in selected scope..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Wellform all Scout classes..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Wellform classes in selected scope"
            id="org.eclipse.scout.sdk.s2e.ui.commands.wellformSelected"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Create all missing @ClassId Annotations..."
            id="org.eclipse.scout.sdk.s2e.ui.commands.missingClassId"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
      <command
            name="Create missing @ClassId Annotations in selected scope"
            id="org.eclipse.scout.sdk.s2e.ui.commands.missingClassIdSelected"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerAllTypeChangedHandlers"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.TriggerAllDerivedResourceHandlers">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.triggerSelectedTypeChangedHandlers"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.TriggerSelectedDerivedResourceHandler">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellform"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.WellformAllHandler">
      </handler>
      <handler
          commandId="org.eclipse.scout.sdk.s2e.ui.commands.wellformSelected"
          class="org.eclipse.scout.sdk.s2e.ui.internal.handler.WellformSelectedHandler">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.missingClassId"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.CreateAllMissingClassIdsHandler">
      </handler>
      <handler
            commandId="org.eclipse.scout.sdk.s2e.ui.commands.missingClassIdSelected"
            class="org.eclipse.scout.sdk.s2e.ui.internal.handler.CreateSelectedMissingClassIdsHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.scout.sdk.s2e.ui.internal.HttpPatternMatchListener"
            id="org.eclipse.scout.sdk.s2e.ui.httpConsolePatternMatchListener"
            qualifier="https?:"
            regex="https?://[^\s]+">
         <enablement></enablement>
      </consolePatternMatchListener>
   </extension>
</plugin>
