<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.startup">
      <startup class="org.eclipse.scout.sdk.s2e.ui.internal.util.ScoutSdkStartupExtension"></startup>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            id="org.eclipse.scout.sdk.s2e.ui.internal.preference.ScoutSdkPreferencePage"
            name="Scout">
      </page>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.ui.proposalCategory"
         name="Scout Items"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="resources/icons/eclipse_scout.gif">
      </proposalCategory>
   </extension>
</plugin>
