# Backupfiles from mergetools #
*.orig

# Java Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip

# Eclipse #
bin/
classes/
/.settings
/.project

# Maven #
target/
.mvn/
.surefire-*
.flattened-pom.xml
.tycho-consumer-pom.xml

# node
node_modules

# IntelliJ IDEA #
/.idea/**/workspace.xml
/.idea/**/tasks.xml
/.idea/**/usage.statistics.xml
/.idea/**/dataSources.local.xml
/.idea/**/jarRepositories.xml
/.idea/**/shelf
/.idea/sonarlint
/.idea/**/dataSources/
/.idea/httpRequests/
/.idea/libraries/
/.idea/artifacts/

org.eclipse.scout.sdk.s2e*/META-INF/MANIFEST.MF
