<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension id="application" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="@@GROUP@@.ui.swt.app.core.Application"/>
    </application>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
          application="@@GROUP@@.ui.swt.app.core.application"
          name="@@ALIAS@@">
       <property
             name="appName"
             value="@@ALIAS@@">
       </property>
    </product>
  </extension>
  <extension
      point="org.eclipse.ui.views">
   <view
         class="org.eclipse.ui.internal.progress.ProgressView"
         icon="icons/eclipse_scout.gif"
         id="org.eclipse.ui.views.ProgressView"
         name="Progress View">
   </view>
  </extension>
</plugin>
