<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="scoutIdeExtensions" name="scoutIdeExtensions" schema="schema/scoutIdeExtensions.exsd"/>
   <extension-point id="formField" name="Form Field" schema="schema/formField.exsd"/>
   <extension-point id="outlineDragAndDrop" name="Drag And Drop" schema="schema/outlineDragAndDrop.exsd"/>
   <extension-point id="scoutCodeIdProvider" name="Code ID Provider" schema="schema/scoutCodeIdProvider.exsd"/>
   <extension-point id="explorerPage" name="Scout Explorer Page" schema="schema/explorerPage.exsd"/>
   <extension-point id="propertyStructure" name="Scout Property View Structure" schema="schema/propertyStructure.exsd"/>
   <extension-point id="propertyViewPart" name="Property View Part" schema="schema/propertyViewPart.exsd"/>
   <extension-point id="outlineCopyAndPaste" name="Copy And Paste" schema="schema/outlineCopyAndPaste.exsd"/>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
            targetID="org.eclipse.scout.sdk.ui.internal.ScoutPerspective">
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.jdt.debug.ui.JDTDebugActionSet">
         </actionSet>
         <viewShortcut
               id="org.eclipse.scout.sdk.ui.internal.view.properties.ScoutPropertyView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.scout.sdk.ui.internal.view.outline.ScoutExplorerPart">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.scout.sdk.designer.internal.view.DesignerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scout.sdk.ui.internal.ScoutPerspective"
            icon="resources/icons/eclipse_scout.gif"
            id="org.eclipse.scout.sdk.ui.internal.ScoutPerspective"
            name="Scout">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.scout.sdk.viewcategory"
            class="org.eclipse.scout.sdk.ui.internal.view.outline.ScoutExplorerPart"
            icon="resources/icons/presentation.gif"
            id="org.eclipse.scout.sdk.ui.internal.view.outline.ScoutExplorerPart"
            name="Scout Explorer"/>
      <view
            allowMultiple="false"
            category="org.eclipse.scout.sdk.viewcategory"
            class="org.eclipse.scout.sdk.ui.internal.view.properties.ScoutPropertyView"
            icon="resources/icons/propertiesedit.gif"
            id="org.eclipse.scout.sdk.ui.internal.view.properties.ScoutPropertyView"
            name="Scout Object Properties"/>
      <category
            id="org.eclipse.scout.sdk.viewcategory"
            name="Scout (SDK)"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.scout.sdk.ui.internal.view.icons.IconsEditor"
            extensions="icons"
            icon="resources/icons/icons.png"
            id="org.eclipse.scout.sdk.ui.internal.view.icons.IconsEditor"
            name="Icons">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.scout.sdk"
            name="Scout"/>
      <wizard
            category="org.eclipse.scout.sdk"
            class="org.eclipse.scout.sdk.ui.internal.wizard.newproject.ScoutProjectNewWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            hasPages="true"
            icon="resources/icons/projectGroup_add.png"
            id="bsicase.development.newProjectWizard"
            name="Scout Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.scout.sdk.ui.extensions.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.scout.sdk.ui.extensions.preferences.ScoutSdkPreferencePage"
            id="org.eclipse.scout.sdk.ui.extensions.preferences.ScoutSdkPreferencePage"
            name="Scout SDK">
      </page>
   </extension>
   <extension
            point="org.eclipse.scout.sdk.ui.outlineDragAndDrop">
      <dragSupport
            dragSourceDelegator="org.eclipse.scout.sdk.ui.internal.view.outline.dnd.FormFieldDragSourceDelegator">
      </dragSupport>
      <dropSupport
            dropTargetDelegator="org.eclipse.scout.sdk.ui.internal.view.outline.dnd.FormFieldDropTargetDelegator">
      </dropSupport>
   </extension>
   <extension point="org.eclipse.scout.sdk.ui.formField">
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.bigdecimalfield.IBigDecimalField"
            name="Bigdecimal Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.bigdecimalfield.BigdecimalFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.BigDecimalFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.booleanfield.IBooleanField"
            name="Boolean Field">
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.BooleanFieldNodePage">
         </nodePage>
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.booleanfield.BooleanFieldNewWizard">
         </newWizard>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.button.IButton"
            name="Button Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.buttonfield.ButtonFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.ButtonNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.calendarfield.ICalendarField"
            name="Calendar Field">
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.CalendarFieldNodePage">
         </nodePage>
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.calendarfield.CalendarFieldNewWizard">
         </newWizard>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.checkbox.ICheckBox"
            name="Checkbox Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.checkbox.CheckboxFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.CheckBoxNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.composer.IComposerField"
            name="Composer Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.composerfield.ComposerFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.composer.ComposerFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.datefield.IDateField"
            name="Date Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.datefield.DateFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.DateFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.doublefield.IDoubleField"
            name="Double Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.doublefield.DoubleFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.DoubleFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.filechooserfield.IFileChooserField"
            name="FileChooser Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.filechooserfield.FileChooserFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.FileChooserFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.groupbox.IGroupBox"
            name="Group Box">
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.GroupBoxNodePage">
         </nodePage>
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.groupbox.GroupBoxNewWizard">
         </newWizard>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.htmlfield.IHtmlField"
            name="Html Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.htmlfield.HtmlFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.HtmlFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.integerfield.IIntegerField"
            name="Integer Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.integerfield.IntegerFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.IntegerFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.imagebox.IImageField"
            name="Image Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.imagefield.ImageFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.ImageFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.labelfield.ILabelField"
            name="Label Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.labelfield.LabelFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.LabelFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.listbox.IListBox"
            name="List Box">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.listbox.ListBoxFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.ListBoxNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.longfield.ILongField"
            name="Long Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.longfield.LongFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.LongFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.matrixfield.IMatrixField"
            name="Matrix Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.matrixfield.MatrixFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.MatrixFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="false"
            model="org.eclipse.scout.rt.client.ui.form.fields.mailfield.IMailField"
            name="Mail Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.mailfield.MailFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.MailFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.plannerfield.IPlannerField"
            name="Planner Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.plannerfield.PlannerFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.PlannerFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.radiobuttongroup.IRadioButtonGroup"
            name="Radio Button Group">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.radiobuttongroup.RadioButtonGroupFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.RadioButtonGroupNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.sequencebox.ISequenceBox"
            name="Sequence Box">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.sequencebox.SequenceBoxNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.SequenceBoxFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.smartfield.ISmartField"
            name="Smart Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.smartfield.SmartFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.SmartFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.stringfield.IStringField"
            name="String Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.stirngfield.StringFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.StringFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.tabbox.ITabBox"
            name="Tab Box">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.tabbox.TabBoxNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.TabBoxNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.tablefield.ITableField"
            name="Table Field">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.tablefield.TableFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.TableFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.treebox.ITreeBox"
            name="Tree Box">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.treebox.TreeBoxNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.TreeBoxNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.treefield.ITreeField"
            name="Tree Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.treefield.TreeFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.TreeFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractOkButton"
            name="OK Button">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.buttonfield.OkButtonNewWizard">
         </newWizard>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.IFormField"
            name="Default Form Field">
         <newWizard
               inShortList="false"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.formfield.DefaultFormFieldNewWizard">
         </newWizard>
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.UnknownFieldNodePage">
         </nodePage>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractCancelButton"
            name="Cancel Button">
         <newWizard
               inShortList="true"
               wizard="org.eclipse.scout.sdk.ui.wizard.form.fields.buttonfield.CancelButtonNewWizard">
         </newWizard>
      </FormField>
      <FormField
            active="true"
            model="org.eclipse.scout.rt.client.ui.form.fields.splitbox.ISplitBox"
            name="Split Box">
         <nodePage
               nodePage="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.field.SplitBoxNodePage">
         </nodePage>
      </FormField>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.scoutIdeExtensions">
      <scoutIdeExtension
            class="org.eclipse.scout.sdk.ui.internal.extensions.LocalScoutSdkExtension">
      </scoutIdeExtension>
   </extension>
   <extension
         id="sqlBindCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.scout.sdk.ui.sqlBindProposalCategory"
            class="org.eclipse.scout.sdk.ui.internal.extensions.codecompletion.SqlBindFromFormDataCompletionComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="sqlBindProposalCategory"
         name="SQL Bind Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="resources/icons/default.gif">
      </proposalCategory>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench" name="Scout SDK">
         <property
               name="appName" value="Scout SDK">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.propertyStructure">
      <propertyDefinition
            file="resources/sdkEditorStructure.xml">
      </propertyDefinition>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.propertyViewPart">
      <part
            page="org.eclipse.scout.sdk.ui.view.outline.pages.AbstractScoutTypePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.JdtTypePropertyPart">
         </singlePart>
         <multiPart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.multipage.JdtTypeMultiPropertyPart">
         </multiPart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.view.outline.pages.IPage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.UnknownSinglePagePropertyViewPart">
         </singlePart>
         <multiPart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.multipage.UnknownMultiPagePropertyViewPart">
         </multiPart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.view.outline.pages.project.server.service.AbstractServiceNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ServicePropertyPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.client.form.FormNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.FormPropertyPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.UiSwtNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ProductLaunchPropertyPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.UiSwingNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ProductLaunchPropertyPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.server.ServerNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ProductLaunchPropertyPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.shared.NlsTextsNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.NlsPropertyViewPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.shared.IconNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.IconsPropertyViewPart">
         </singlePart>
      </part>
      <part
            page="org.eclipse.scout.sdk.ui.internal.view.outline.pages.project.ProjectNodePage">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ScoutProjectPropertyPart">
         </singlePart>
      </part>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.outlineCopyAndPaste">
      <pasteSupport
            pasteTargetDelegator="org.eclipse.scout.sdk.ui.internal.view.outline.clipboard.TableColumnWidthsPasteTargetDelegator">
      </pasteSupport>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.scout.sdk.menu"
               label="Scout">
            <dynamic
                  class="org.eclipse.scout.sdk.ui.menu.FormDataUpdateContributionItem"
                  id="org.eclipse.scout.sdk.ui.menu.updateFormdataAutomatically">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.scout.sdk.ui.internal.marker.resolution.SqlBindMarkerResolutionGenerator"
            markerType="org.eclipse.scout.sdk.formdata.sql.binding.single">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.scout.sdk.ui.internal.marker.resolution.SqlBindMarkerResolutionGenerator"
            markerType="org.eclipse.scout.sdk.formdata.sql.binding.multi">
      </markerResolutionGenerator>
   </extension>
</plugin>
