<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nlsImporter" name="NLS Importer" schema="schema/nlsImporter.exsd"/>
   <extension-point id="nlsExporter" name="NLS Exporter" schema="schema/nlsExporter.exsd"/>
   <extension-point id="nlsProvider" name="NLS Provider" schema="schema/nlsProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.scout.sdk.s2e.nls.internal.ui.editor.NlsEditor"
            icon="icons/view_nls.gif"
            extensions="nls"
            default="false"
            id="org.eclipse.scout.sdk.s2e.nlsEditor"
            name="NLS Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.scout.sdk.s2e.nls.nlsProvider">
      <provider class="org.eclipse.scout.sdk.s2e.nls.internal.simpleproject.SimpleNlsProjectProvider"></provider>
      <provider class="org.eclipse.scout.sdk.s2e.nls.internal.serviceproject.ServiceNlsProjectProvider"></provider>
   </extension>
   <extension
         id="NlsTextCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.scout.sdk.s2e.nls.nlsTextProposalCategory"
            class="org.eclipse.scout.sdk.s2e.nls.internal.ui.proposal.NlsTextCompletionProposalComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="nlsTextProposalCategory"
         name="NLS Text Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/comment.png">
      </proposalCategory>
   </extension>
</plugin>
