<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2015 BSI Business Systems Integration AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        BSI Business Systems Integration AG - initial API and implementation

-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nlsImporter" name="NLS Importer" schema="schema/nlsImporter.exsd"/>
   <extension-point id="nlsExporter" name="NLS Exporter" schema="schema/nlsExporter.exsd"/>
   <extension-point id="nlsProvider" name="NLS Provider" schema="schema/nlsProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.scout.sdk.s2e.nls.internal.ui.editor.NlsEditor"
            icon="icons/view_nls.gif"
            extensions="nls"
            default="false"
            id="org.eclipse.scout.sdk.s2e.nlsEditor"
            name="NLS Editor">
      </editor>
   </extension>
   <extension point="org.eclipse.scout.sdk.s2e.nls.nlsProvider">
      <provider class="org.eclipse.scout.sdk.s2e.nls.internal.simpleproject.SimpleNlsProjectProvider"></provider>
      <provider class="org.eclipse.scout.sdk.s2e.nls.internal.serviceproject.ServiceNlsProjectProvider"></provider>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.s2e.nls.category"
         name="Eclipse Scout NLS Text Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <proposalCategory
            icon="icons/comment.png">
      </proposalCategory>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.s2e.nls"
         name="Eclipse Scout NLS Text Proposals"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.scout.sdk.s2e.nls.category"
            class="org.eclipse.scout.sdk.s2e.nls.internal.ui.proposal.NlsTextCompletionProposalComputer">
         <partition
               type="__java_string">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.scout.sdk.s2e.ui.menu?after=org.eclipse.scout.sdk.s2e.ui.menu.missingClassIdSelected">
         <separator
               name="org.eclipse.scout.sdk.s2e.nls.menu.separator01"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.scout.sdk.s2e.nls.commands.searchMissingTextKeys"
               id="org.eclipse.scout.sdk.s2e.nls.menu.searchMissingTextKeys"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="Search missing text keys..."
            id="org.eclipse.scout.sdk.s2e.nls.commands.searchMissingTextKeys"
            categoryId="org.eclipse.scout.sdk.s2e.ui.commands.category">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.scout.sdk.s2e.nls.commands.searchMissingTextKeys"
            class="org.eclipse.scout.sdk.s2e.nls.internal.ui.handler.NlsFindMissingKeysHandler">
      </handler>
    </extension>
</plugin>
