<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Scout SDK Eclipse 2023-03 Dependencies" sequenceNumber="54">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.common.frameworks.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.common.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.validation.ui" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2023-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="27.1.0.v20221112-0806"/>
<unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
<unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230302014618/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
</target>
