<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Scout SDK Eclipse 2018-09 Dependencies" sequenceNumber="41">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="2.7.0.v20170129-0911"/>
<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="javax.wsdl" version="1.6.2.v201012040545"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.6.200.v20180906-1121"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.1.v20180810-0833"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.2.v20180801-2237"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.15.0.v20180723-1316"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.11.0.v20180823-0905"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.15.0.v20180722-1159"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.14.0.v20180823-0456"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.15.0.v20180827-1536"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.100.v20180822-1357"/>
<unit id="org.eclipse.jdt.feature.group" version="3.15.0.v20180906-0745"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.9.1.20180912-1601"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.200.v20180906-0745"/>
<unit id="org.eclipse.platform.feature.group" version="4.9.0.v20180906-1121"/>
<unit id="org.eclipse.rcp.feature.group" version="4.9.0.v20180906-1121"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.7.2.v201808020026"/>
<unit id="org.eclipse.wst.common.frameworks.ui" version="1.2.400.v201802151734"/>
<unit id="org.eclipse.wst.common.ui" version="1.1.500.v200911182011"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.9.1.v201805260536"/>
<unit id="org.eclipse.wst.validation.ui" version="1.2.501.v201802151734"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.11.0.v201808220605"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.11.0.v201807252207"/>
<unit id="org.eclipse.xsd.feature.group" version="2.15.0.v20180722-1116"/>
<repository location="http://download.eclipse.org/releases/2018-09/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
</locations>
</target>
