<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.scout.nls.sdk.nlsProvider">
      <provider
            class="org.eclipse.scout.nls.sdk.services.model.ws.project.ServiceNlsProjectProvider">
      </provider>
   </extension>
   <extension point="org.eclipse.scout.sdk.ui.explorerPage">
      <page
            page="org.eclipse.scout.nls.sdk.services.ui.page.TextServiceTablePage"
            parentPageId="org.eclipse.scout.sdk.page.SharedNodePage">
      </page>
   </extension>
	<extension point="org.eclipse.scout.sdk.ui.propertyViewPart">
		<part
            page="org.eclipse.scout.nls.sdk.services.ui.page.TextServiceNodePage">
         <singlePart
               viewPart="org.eclipse.scout.nls.sdk.services.ui.part.NlsPropertyViewPart">
         </singlePart>
      </part>
   </extension>
 <extension
       point="org.eclipse.scout.sdk.ui.contextMenu">
    <contextMenu
          class="org.eclipse.scout.nls.sdk.services.ui.action.TextProviderServiceNewAction">
    </contextMenu>
    <contextMenu
          class="org.eclipse.scout.nls.sdk.services.ui.action.TextProviderServiceDeleteAction">
    </contextMenu>
 </extension>
 <extension
       point="org.eclipse.scout.sdk.targetPackage">
    <targetPackage
          bundleType="SHARED"
          default=".services.common.text"
          id="shared.services.textprovider">
    </targetPackage>
 </extension>
 <extension
       point="org.eclipse.scout.sdk.ui.executor">
    <executor
          class="org.eclipse.scout.nls.sdk.services.ui.executor.TextProviderServiceDeleteExecutor"
          id="org.eclipse.scout.nls.sdk.services.ui.action.TextProviderServiceDeleteAction">
    </executor>
    <executor
          class="org.eclipse.scout.nls.sdk.services.ui.executor.TextProviderServiceNewExecutor"
          id="org.eclipse.scout.nls.sdk.services.ui.action.TextProviderServiceNewAction">
    </executor>
 </extension>
</plugin>
