<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.sdk.ui.scoutBundle">
      <bundleNode
            bundleName="ui.rap"
            bundleNewHandler="org.eclipse.scout.sdk.rap.ui.internal.extensions.bundle.RapScoutBundleExtension"
            bundlePage="org.eclipse.scout.sdk.rap.ui.internal.view.outline.pages.project.UiRapNodePage"
            bundleType="UI_RAP"
            icon="resources/icons/uiBundle.png"
            id="org.eclipse.scout.sdk.ui.UiRapBundle"
            launcherIcon="resources/icons/rapLauncher.gif"
            orderNumber="-520">
      </bundleNode>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.propertyViewPart">
      <part
            page="org.eclipse.scout.sdk.rap.ui.internal.view.outline.pages.project.UiRapNodePage"
            ranking="-1">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ProductLaunchPropertyPart">
         </singlePart>
      </part>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.exportScoutProjectEntry">
      <entry
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.export.RapExportEntryHandler"
            icon="resources/icons/uiBundle.png"
            id="ui.rap"
            name="RAP Web Application"
            order="300">
      </entry>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.technology">
      <handler
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.technology.SvgUiRapTechnologyHandler"
            technology="scout.technology.svg">
      </handler>
      <technology
            category="UI Features"
            id="scout.technology.rap.filechooser"
            name="RAP FileChooser Support (Incubation)">
      </technology>
      <handler
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.technology.FileChooserRapTargetTechnologyHandler"
            technology="scout.technology.rap.filechooser">
      </handler>
      <handler
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.technology.FileChooserRapProductTechnologyHandler"
            technology="scout.technology.rap.filechooser">
      </handler>
      <handler
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.technology.Docx4jRapProductTechnologyHandler"
            technology="scout.technology.common.docx4j">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.scout.sdk.rap.ui.internal.RapStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.contextMenu">
      <contextMenu
            class="org.eclipse.scout.sdk.rap.ui.internal.action.RapTargetNewAction">
      </contextMenu>
   </extension>
</plugin>
