<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.sdk.ui.scoutBundle">
      <bundleNode
            bundleName="ui.rap"
            bundleType="GUI_Bundle"
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.bundle.RapScoutBundleExtension"
            icon="resources/icons/uiBundle.png"
            id="org.eclipse.scout.sdk.ui.UiRapBundle"
            orderNumber="30">
      </bundleNode>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.contextMenu">
      <contextMenu
            class="org.eclipse.scout.sdk.rap.ui.internal.ModifyXmlAction">
      </contextMenu>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.explorerPage">
      <pageFactory
            factory="org.eclipse.scout.sdk.rap.ui.internal.extensions.UiRapBundleNodeFactory"
            parentPageId="org.eclipse.scout.sdk.page.ProjectNodePage">
      </pageFactory>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.propertyViewPart">
      <part
            page="org.eclipse.scout.sdk.rap.ui.internal.view.outline.pages.project.UiRapNodePage"
            ranking="-1">
         <singlePart
               viewPart="org.eclipse.scout.sdk.ui.view.properties.part.singlepage.ProductLaunchPropertyPart">
         </singlePart>
      </part>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.exportScoutProjectEntry">
      <entry
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.export.RapExportEntryHandler"
            icon="resources/icons/uiBundle.png"
            id="ui.rap"
            name="RAP Web Application"
            order="300">
      </entry>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.ui.technology">
      <handler
            class="org.eclipse.scout.sdk.rap.ui.internal.extensions.technology.SvgUiRapTechnologyHandler"
            technology="scout.technology.svg">
      </handler>
   </extension>
</plugin>
