<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.scout.service.services">
    <service class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService" factory="org.eclipse.scout.rt.server.services.ServerServiceFactory" session="org.bundlegraph.test.server.ServerSession"/>
    <service class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService" factory="org.eclipse.scout.rt.server.services.ServerServiceFactory" session="org.bundlegraph.test.server.ServerSession"/>
    <service class="org.bundlegraph.test.server.services.custom.security.AccessControlService" factory="org.eclipse.scout.rt.server.services.ServerServiceFactory" session="org.bundlegraph.test.server.ServerSession"/>
  </extension>
  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet alias="/process" class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      <init-param name="min-version" value="0.0.0"/>
    </servlet>
    <servlet alias="/remotefiles" class="org.eclipse.scout.rt.server.RemoteFileServlet">
     </servlet>
    <servlet alias="/updatesite" class="org.eclipse.scout.rt.server.RemoteFileServlet">
      <init-param name="folder" value="/updatesite"/>
    </servlet>
    <servlet alias="/" class="org.eclipse.scout.rt.server.ResourceServlet">
      <init-param name="bundle-name" value="org.bundlegraph.test.server"/>
      <init-param name="bundle-path" value="/resources/html"/>
    </servlet>
  </extension>
  <extension point="org.eclipse.scout.http.servletfilter.filters">
    <filter
       aliases="/process /remotefiles /updatesite"
       class="org.eclipse.scout.http.servletfilter.security.BasicSecurityFilter" ranking="20">
    </filter>
    <filter
          aliases="/process /remotefiles /updatesite"
          class="org.eclipse.scout.http.servletfilter.security.AnonymousSecurityFilter"
          ranking="30">
    </filter>
  </extension>
  <extension id="app" name="Server Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.bundlegraph.test.server.ServerApplication"/>
    </application>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
          application="org.bundlegraph.test.server.app"
          name="test Server">
       <property
             name="appName"
             value="test Server">
       </property>
    </product>
  </extension>
</plugin>
