<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="uniqueId" name="Unique ID Provider" schema="schema/uniqueId.exsd"/>
   <extension-point id="classIdGenerator" name="ClassId Generators" schema="schema/classIdGenerator.exsd"/>
   <extension
         point="org.eclipse.scout.sdk.s2e.classIdGenerator">
      <generator
            class="org.eclipse.scout.sdk.s2e.classid.DefaultUniversallyUniqueClassIdGenerator"
            priority="-10000">
      </generator>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.classid.duplicate"
         name="ClassId Duplicate"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
</plugin>
