<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>
<target name="@@ALIAS@@">
  <locations></locations>
  <launcherArgs>
    <vmArgs>-Xms256m -Xmx512m @@MAX_PERM_SIZE@@</vmArgs>
  </launcherArgs>
</target>
