<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.scout.sdk.viewcategory"
            class="org.eclipse.scout.sdk.debug.view.JdtEventLoggerView"
            icon="resources/icons/codeType.png"
            id="org.eclipse.scout.sdk.debug.view.JdtEventLoggerView"
            name="JDT event LOG"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.scout.sdk.ui.internal.ScoutPerspective">
         <viewShortcut
               id="org.eclipse.scout.sdk.debug.view.JdtEventLoggerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
