<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet alias="/test" class="org.eclipse.scout.rt.server.servlet.test.TestServlet">
      <init-param name="session" value="@@BUNDLE_SERVER_NAME@@.ServerSession"/>
      <init-param name="runAs" value="testUser"/>
    </servlet>
  </extension>
  <extension point="org.eclipse.scout.service.services">
    <service class="@@BUNDLE_SERVER_TEST_NAME@@.LookupServicesTest" factory="org.eclipse.scout.rt.server.services.ServerServiceFactory" session="@@BUNDLE_SERVER_NAME@@.ServerSession">
      </service>
  </extension>
</plugin>
