<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.service.services">
      <service
            class="test.shared.services.common.text.DefaultTextProviderService"
            createImmediately="false"
            factory="org.eclipse.scout.service.DefaultServiceFactory">
      </service>
   </extension>

</plugin>
