<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>


<!--   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.bsiag.bsicase.marker.MarkerResolutionGenerator1"
            markerType="com.bsiag.bsicase.formPropertyBean">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.scout.sde.preferences.BsiCasePreferencePage"
            id="com.bsiag.bsicase.preferences.BsiCasePreferencePage"
            name="Scout IDE">
      </page>
   </extension> -->
   <extension
         id="org.eclipse.scout.sdk.ScoutNature"
         name="Scout Bundle"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.scout.sdk.ScoutNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>

   <extension
         id="formPropertyBean"
         name="Scout Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="methodName">
      </attribute>
      <attribute
            name="methodSignature">
      </attribute>
      <attribute
            name="fullyQualifiedName">
      </attribute>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.marker"
         name="Scout SDK Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding"
         name="SQL Binding"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="method">
      </attribute>
   </extension>

</plugin>
