<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="newProjectOperation" name="New Scout Project Operations" schema="schema/newProjectOperation.exsd"/>
   <extension
         id="org.eclipse.scout.sdk.ScoutNature"
         name="Scout Bundle"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.scout.sdk.ScoutNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         id="formPropertyBean"
         name="Scout Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="methodName">
      </attribute>
      <attribute
            name="methodSignature">
      </attribute>
      <attribute
            name="fullyQualifiedName">
      </attribute>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.marker"
         name="Scout SDK Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding"
         name="SQL Binding markers"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="method">
      </attribute>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding.single"
         name="SQL Binding"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.scout.sdk.formdata.sql.binding">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="method">
      </attribute>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding.multi"
         name="SQL Binding Multi"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.scout.sdk.formdata.sql.binding">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="method">
      </attribute>
      </extension>
   <extension
         point="org.eclipse.scout.sdk.newProjectOperation">
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateSharedPluginOperation"
            id="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateClientPluginOperation"
            id="create.client"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateServerPluginOperation"
            id="create.server"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateUiSwingPluginOperation"
            id="create.ui.swing"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateUiSwtPluginOperation"
            id="create.ui.swt"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillClientPluginOperation"
            id="fill.client"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillSharedPluginOperation"
            id="fill.shared"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillServerPluginOperation"
            id="fill.server"
            referenceId="create.server">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillUiSwingPluginOperation"
            id="fill.ui.swing"
            referenceId="create.ui.swing">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillUiSwtPluginOperation"
            id="fill.ui.swt"
            referenceId="create.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.template.SingleFormTemplateOperation"
            id="template.singleform"
            referenceId="fill.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.template.OutlineTemplateOperation"
            id="template.outline"
            referenceId="fill.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.ServerProductFileUpgradeOperation"
            id="finalize.server.products"
            referenceId="fill.server">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtPluginXmlUpgradeOperation"
            id="finalize.ui.swt.plugin.xml"
            referenceId="fill.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtProductFileMacOsXOperation"
            id="finalize.ui.swt.product.macosx"
            referenceId="fill.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtProductFileUpgradeOperation"
            id="finalize.ui.swt.products"
            referenceId="fill.ui.swt">
      </operation>
   </extension>
</plugin>
