<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="newProjectOperation" name="New Scout Project Operations" schema="schema/newProjectOperation.exsd"/>
   <extension-point id="runtimeClasses" name="runtimeClass" schema="schema/runtimeClasses.exsd"/>
   <extension-point id="targetPackage" name="targetPackage" schema="schema/targetPackage.exsd"/>
   <extension-point id="runtimeBundles" name="runtimeBundles" schema="schema/runtimeBundles.exsd"/>
   <extension-point id="dtoUpdateEventFilter" name="dtoUpdateEventFilter" schema="schema/dtoUpdateEventFilter.exsd"/>
   <extension
         id="formPropertyBean"
         name="Scout Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="methodName">
      </attribute>
      <attribute
            name="methodSignature">
      </attribute>
      <attribute
            name="fullyQualifiedName">
      </attribute>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.marker"
         name="Scout SDK Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding"
         name="SQL Binding markers"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="method">
      </attribute>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding.single"
         name="SQL Binding"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.scout.sdk.formdata.sql.binding">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="method">
      </attribute>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.formdata.sql.binding.multi"
         name="SQL Binding Multi"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.scout.sdk.formdata.sql.binding">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="method">
      </attribute>
      </extension>
   <extension
         point="org.eclipse.scout.sdk.newProjectOperation">
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateSharedPluginOperation"
            id="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateClientPluginOperation"
            id="create.client"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateServerPluginOperation"
            id="create.server"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateUiSwingPluginOperation"
            id="create.ui.swing"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.CreateUiSwtPluginOperation"
            id="create.ui.swt"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillClientPluginOperation"
            id="fill.client"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillSharedPluginOperation"
            id="fill.shared"
            referenceId="create.shared">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillServerPluginOperation"
            id="fill.server"
            referenceId="create.server">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillUiSwingPluginOperation"
            id="fill.ui.swing"
            referenceId="create.ui.swing">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.FillUiSwtPluginOperation"
            id="fill.ui.swt"
            referenceId="create.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.template.SingleFormTemplateOperation"
            id="template.singleform"
            referenceId="fill.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.template.OutlineTemplateOperation"
            id="template.outline"
            referenceId="fill.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.ServerProductFileUpgradeOperation"
            id="finalize.server.products"
            referenceId="fill.server">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtPluginXmlUpgradeOperation"
            id="finalize.ui.swt.plugin.xml"
            referenceId="fill.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtProductFileMacOsXOperation"
            id="finalize.ui.swt.product.macosx"
            referenceId="fill.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtProductFileUpgradeOperation"
            id="finalize.ui.swt.products"
            referenceId="fill.ui.swt">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.ServerProductFileFillOperation"
            id="fill.server.product"
            referenceId="fill.server">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwingProductFileFillOperation"
            id="fill.ui.swing.product"
            referenceId="fill.ui.swing">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.operation.project.SwtProductFileFillOperation"
            execAfterReference="true"
            id="fill.ui.swt.product"
            referenceId="fill.ui.swt">
      </operation>
   </extension>
   <extension
         id="org.eclipse.scout.sdk.ScoutLibraryNature"
         name="Scout Library Bundle"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.scout.sdk.ScoutLibraryNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <requires-nature
            id="org.eclipse.pde.PluginNature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.runtimeClasses">
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.stringfield.IStringField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.stringfield.AbstractStringField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.activitymap.IActivityMap">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.activitymap.AbstractActivityMap">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.basic.activitymap.AbstractExtensibleActivityMap"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.bigdecimalfield.IBigDecimalField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.bigdecimalfield.AbstractBigDecimalField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.IDesktopExtension">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.AbstractDesktopExtension">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.services.common.bookmark.IBookmarkStorageService">
         <default
               class="org.eclipse.scout.rt.server.services.common.bookmark.AbstractSqlBookmarkStorageService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.booleanfield.IBooleanField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.booleanfield.AbstractBooleanField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.IButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractButton">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.form.fields.button.AbstractExtensibleButton"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.calendar.ICalendar">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.calendar.AbstractCalendar">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.basic.calendar.AbstractExtensibleCalendar"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.calendarfield.ICalendarField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.calendarfield.AbstractCalendarField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.calendar.provider.ICalendarItemProvider">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.calendar.provider.AbstractCalendarItemProvider">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.basic.calendar.provider.AbstractExtensibleCalendarItemProvider"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractCancelButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractCancelButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.checkbox.ICheckBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.checkbox.AbstractCheckBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.services.common.code.ICode">
         <default
               class="org.eclipse.scout.rt.shared.services.common.code.AbstractCode">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.services.common.code.ICodeType">
         <default
               class="org.eclipse.scout.rt.shared.services.common.code.AbstractCodeType">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractColumn">
         </default>
      </element>

      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IBooleanColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractBooleanColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IBigDecimalColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractBigDecimalColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IDateColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractDateColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IDoubleColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractDoubleColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IIntegerColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractIntegerColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.ILongColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractLongColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.ISmartColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractSmartColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.columns.IStringColumn">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.columns.AbstractStringColumn">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.ui.swing.ISwingEnvironment">
         <default
               class="org.eclipse.scout.rt.ui.swing.DefaultSwingEnvironment">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.data.model.IDataModelAttribute">
         <default
               class="org.eclipse.scout.rt.shared.data.model.AbstractDataModelAttribute">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.data.model.IDataModelEntity">
         <default
               class="org.eclipse.scout.rt.shared.data.model.AbstractDataModelEntity">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.composer.IComposerField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.composer.AbstractComposerField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.datefield.IDateField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.datefield.AbstractDateField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.doublefield.IDoubleField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.doublefield.AbstractDoubleField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.filechooserfield.IFileChooserField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.filechooserfield.AbstractFileChooserField">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.form.fields.filechooserfield.AbstractExtensibleFileChooserField"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.IForm">
         <default
               class="org.eclipse.scout.rt.client.ui.form.AbstractForm">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.IFormField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.AbstractFormField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.IFormHandler">
         <default
               class="org.eclipse.scout.rt.client.ui.form.AbstractFormHandler">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.groupbox.IGroupBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.groupbox.AbstractGroupBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.htmlfield.IHtmlField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.htmlfield.AbstractHtmlField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.imagebox.IImageField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.imagebox.AbstractImageField">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.form.fields.imagebox.AbstractExtensibleImageField"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.integerfield.IIntegerField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.integerfield.AbstractIntegerField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.action.keystroke.IKeyStroke">
         <default
               class="org.eclipse.scout.rt.client.ui.action.keystroke.AbstractKeyStroke">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.labelfield.ILabelField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.labelfield.AbstractLabelField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.listbox.IListBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.listbox.AbstractListBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.longfield.ILongField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.longfield.AbstractLongField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.mailfield.IMailField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.mailfield.AbstractMailField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.action.menu.IMenu">
         <default
               class="org.eclipse.scout.rt.client.ui.action.menu.AbstractMenu">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.action.menu.AbstractExtensibleMenu"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractOkButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractOkButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.outline.IOutline">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.outline.AbstractOutline">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.desktop.outline.AbstractExtensibleOutline"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.outline.AbstractOutlineViewButton">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.outline.AbstractOutlineViewButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.outline.pages.IPageWithNodes">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.outline.pages.AbstractPageWithNodes">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.desktop.outline.pages.AbstractExtensiblePageWithNodes"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.outline.pages.IPageWithTable">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.outline.pages.AbstractPageWithTable">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.desktop.outline.pages.AbstractExtensiblePageWithTable"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.plannerfield.IPlannerField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.plannerfield.AbstractPlannerField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractRadioButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractRadioButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.radiobuttongroup.IRadioButtonGroup">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.radiobuttongroup.AbstractRadioButtonGroup">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractResetButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractResetButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractSearchButton">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractSearchButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.desktop.outline.pages.ISearchForm">
         <default
               class="org.eclipse.scout.rt.client.ui.desktop.outline.pages.AbstractSearchForm">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.sequencebox.ISequenceBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.sequencebox.AbstractSequenceBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.service.IService">
         <default
               class="org.eclipse.scout.service.AbstractService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.service.IService2">
         <default
               class="org.eclipse.scout.service.AbstractService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.smartfield.ISmartField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.smartfield.AbstractSmartField">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.form.fields.smartfield.AbstractExtensibleSmartField"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.server.services.common.smtp.ISMTPService">
         <default
               class="org.eclipse.scout.rt.server.services.common.smtp.AbstractSMTPService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.services.lookup.ILookupService">
         <default
               class="org.eclipse.scout.rt.server.services.lookup.AbstractSqlLookupService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.server.services.common.jdbc.ISqlService">
         <default
               class="org.eclipse.scout.rt.server.services.common.jdbc.AbstractSqlService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.shared.services.common.text.ITextProviderService">
         <default
               class="org.eclipse.scout.rt.shared.services.common.text.AbstractDynamicNlsTextProviderService">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.tabbox.ITabBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.tabbox.AbstractTabBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.table.ITable">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.table.AbstractTable">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.basic.table.AbstractExtensibleTable"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.tablefield.ITableField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.tablefield.AbstractTableField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.action.tool.IToolButton">
         <default
               class="org.eclipse.scout.rt.client.ui.action.tool.AbstractToolButton">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.basic.tree.ITree">
         <default
               class="org.eclipse.scout.rt.client.ui.basic.tree.AbstractTree">
         </default>
         <default
               class="org.eclipse.scout.rt.extension.client.ui.basic.tree.AbstractExtensibleTree"
               priority="10">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.treebox.ITreeBox">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.treebox.AbstractTreeBox">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.form.fields.treefield.ITreeField">
         <default
               class="org.eclipse.scout.rt.client.ui.form.fields.treefield.AbstractTreeField">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.wizard.IWizard">
         <default
               class="org.eclipse.scout.rt.client.ui.wizard.AbstractWizard">
         </default>
      </element>
      <element
            interface="org.eclipse.scout.rt.client.ui.wizard.IWizardStep">
         <default
               class="org.eclipse.scout.rt.client.ui.wizard.AbstractWizardStep">
         </default>
      </element>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.targetPackage">
      <targetPackage
            default=".ui.desktop"
            bundleType="CLIENT"
            id="client.desktop">
      </targetPackage>
      <targetPackage
            default=".ui.desktop.outlines"
            bundleType="CLIENT"
            id="client.outline">
      </targetPackage>
      <targetPackage
            default=""
            bundleType="CLIENT"
            id="client.page">
      </targetPackage>
      <targetPackage
            default=""
            bundleType="CLIENT"
            id="client.form">
      </targetPackage>
      <targetPackage
            default=".ui.template.formfield"
            bundleType="CLIENT"
            id="client.template.formfield">
      </targetPackage>
      <targetPackage
            default=""
            bundleType="CLIENT"
            id="client.searchform">
      </targetPackage>
      <targetPackage
            default=".ui.wizards"
            bundleType="CLIENT"
            id="client.wizard">
      </targetPackage>
      <targetPackage
            default=".services"
            bundleType="CLIENT"
            id="client.services">
      </targetPackage>
      <targetPackage
            default=".services.lookup"
            bundleType="CLIENT"
            id="client.services.lookup">
      </targetPackage>
      <targetPackage
            default=".security"
            bundleType="SHARED"
            id="shared.security">
      </targetPackage>
      <targetPackage
            default=".services"
            bundleType="SHARED"
            id="shared.services">
      </targetPackage>
      <targetPackage
            default=".services.lookup"
            bundleType="SHARED"
            id="shared.services.lookup">
      </targetPackage>
      <targetPackage
            default=".services.code"
            bundleType="SHARED"
            id="shared.services.code">
      </targetPackage>
      <targetPackage
            default=".services.common.bookmark"
            bundleType="SHARED"
            id="shared.services.bookmark">
      </targetPackage>
      <targetPackage
            default=".services.common.calendar"
            bundleType="SHARED"
            id="shared.services.calendar">
      </targetPackage>
      <targetPackage
            default=".services"
            bundleType="SERVER"
            id="server.services">
      </targetPackage>
      <targetPackage
            default=".services.lookup"
            bundleType="SERVER"
            id="server.services.lookup">
      </targetPackage>
      <targetPackage
            default=".services.common.bookmark"
            bundleType="SERVER"
            id="server.services.bookmark">
      </targetPackage>
      <targetPackage
            default=".services.common.calendar"
            bundleType="SERVER"
            id="server.services.calendar">
      </targetPackage>
      <targetPackage
            default=".services.common.sql"
            bundleType="SERVER"
            id="server.services.sql">
      </targetPackage>
      <targetPackage
            default=".services.common.smtp"
            bundleType="SERVER"
            id="server.services.smtp">
      </targetPackage>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.runtimeBundles">
      <bundle
            order="100"
            symbolicName="org.eclipse.scout.rt.testing.ui.swing"
            type="UI_SWING_TESTING">
      </bundle>
      <bundle
            order="200"
            symbolicName="org.eclipse.scout.rt.testing.ui.swt"
            type="UI_SWT_TESTING">
      </bundle>
      <bundle
            order="400"
            symbolicName="org.eclipse.scout.rt.testing.client"
            type="CLIENT_TESTING">
      </bundle>
      <bundle
            order="500"
            symbolicName="org.eclipse.scout.rt.testing.server"
            type="SERVER_TESTING">
      </bundle>
      <bundle
            order="600"
            symbolicName="org.eclipse.scout.rt.testing.shared"
            type="SHARED_TESTING">
      </bundle>
      <bundle
            order="700"
            symbolicName="org.eclipse.scout.rt.ui.swing"
            type="UI_SWING">
      </bundle>
      <bundle
            order="900"
            symbolicName="org.eclipse.scout.rt.ui.swt"
            type="UI_SWT">
      </bundle>
      <bundle
            order="1000"
            symbolicName="org.eclipse.scout.rt.client"
            type="CLIENT">
      </bundle>
      <bundle
            order="1100"
            symbolicName="org.eclipse.scout.rt.server"
            type="SERVER">
      </bundle>
      <bundle
            order="1200"
            symbolicName="org.eclipse.scout.rt.shared"
            type="SHARED">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.commons">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.http.servletfilter">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.jaxws216">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.net">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.servicetunnel">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.client.mobile">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.extension.client">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.jdbc.derby">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.ui.svg.calendar">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.service">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.svg.client">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.svg.ui.swing">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.svg.ui.swt">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.svg.ui.swt">
      </bundle>
      <!-- may be installed from the marketplace. -->
      <bundle
            symbolicName="com.bsiag.scout.rt.server.jdbc.mysql5117">
      </bundle>
      <bundle
            symbolicName="com.bsiag.scout.rt.server.jdbc.oracle11g2">
      </bundle>
      <bundle
            symbolicName="com.bsiag.scout.rt.server.jdbc.postgresql9">
      </bundle>
      <bundle
            symbolicName="com.bsiag.scout.rt.ui.swing.rayo">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.docx4j.client">
      </bundle>
   </extension>
</plugin>
