<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scout.sdk.newProjectOperation">
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.CreateUiRapPluginOperation"
            id="create.ui.rap"
            referenceId="create.client">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.CreateMobileClientPluginOperation"
            id="create.client.mobile"
            referenceId="create.ui.rap">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.template.MobileDesktopExtensionInstallOperation"
            id="template.mobile.desktop.extension"
            referenceId="create.client.mobile">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.template.OutlineTemplateHomeFormCreateOperation"
            id="template.outline.mobile.home.form"
            referenceId="create.client.mobile">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.template.SingleFormTemplateHomeFormCreateOperation"
            id="template.singleform.mobile.home.form"
            referenceId="create.client.mobile">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.RapProductMobileAddOperation"
            id="finalize.ui.rap.products.mobile"
            referenceId="create.client.mobile">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.FillUiRapPluginOperation"
            id="fill.ui.rap"
            referenceId="create.ui.rap">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.LoadRapTargetPlatformOperation"
            id="finalize.targetplatform.load"
            referenceId="fill.ui.rap">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.RapProductJettyUpgradeOperation"
            id="finalize.ui.rap.products"
            referenceId="fill.ui.rap">
      </operation>
      <operation
            class="org.eclipse.scout.sdk.rap.operations.project.RapProductEquinoxSecurityInstallOperation"
            execAfterReference="true"
            id="fill.ui.rap.product"
            referenceId="fill.ui.rap">
      </operation>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Scout RAP Target Location"
            name="scout_rap_target"
            readOnly="false">
      </variable>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.runtimeBundles">
      <bundle
            order="300"
            symbolicName="org.eclipse.scout.rt.testing.ui.rap"
            type="UI_RAP_TESTING">
      </bundle>
      <bundle
            order="800"
            symbolicName="org.eclipse.scout.rt.ui.rap"
            type="UI_RAP">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.ui.rap.mobile">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.ui.rap.theme.rayo.mobile">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.ui.rap.theme.rayo">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.rt.ui.rap.workbench">
      </bundle>
      <bundle
            symbolicName="org.eclipse.scout.svg.ui.rap">
      </bundle>
   </extension>
</plugin>
